
header {
  position: sticky;
  top: 0;
  float:none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: bisque;
  align-items: center;
}
h1 {
  font-size: 36px;
  color: white;
}
.hb {
  font-size: 36px;
  color:black;
  text-align: center;
  padding-top: 10px;
  
}
.hw {
  font-size: 36px;
  color:white;
}
.hr {
  font-size: 36px;
  color:red;
  text-align: center;
  padding-top: 10px;
}

.title {
  font-size: 36px;
  background-color: darkred;
  color:white;
  text-align: center;
  padding-top: 10px;
}
.slogan {
  font-size: 16px;
  background-color: darkred;
  color:white;
  text-align: right;
  padding: 0 0;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color:white;
  text-align: center;
  padding: 10px 0;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color:white;
  text-align: center;
  padding: 10px 0;
}
h4 {
  font-size: 14px;
  font-weight: bold;
  color:white;
  text-align: center;
  padding: 10px 0;
}
h5 {
  font-size: 16px;
  font-weight: normal;
  color:black;
  text-align: center;
  margin: 5px;
}
.info {
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: bisque;
  text-align: center;
  padding: 5px 0;
  max-width: 30%;
}
.info:hover {
  background-color: #45b7e5;
  transition: background 0s;
  animation-duration: 1s;
  transform: translateY(2px);
}
.htext {
  font-size: 20px;
  color:black;
  text-align: justify;
  align-items: right;
  padding: 10px;
  width: 70%;

}
label {
  font-size: 14px;
  color:black;
}
.menu {
  padding: 10px 0;
  margin-top: 5px;
  font-size: 14px;
  background-color: darkred;
  color:white;
  font-weight: bold;
  text-align:  center;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.container_menu {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container_horizon{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 10px;
  

}
.container_vertical{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.box-image {
  max-width:33%;
  min-width:450px;
  min-height:450px;
  text-align: center;
  align-items: center;
  border-style:hidden;
  border-color: red;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: inline-block;
  overflow: hidden;
}
.box-image:hover {
  transform: scale(1.1);
  transition:  0.5s ease;
}
.list{
  display:block;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height:auto;
}
.list:hover{
  transform: scale(1.02);
  opacity: 50%;
}

ul {
  list-style-position: inside;
  padding: 10px 0;
  margin: 5px;
  text-align:  left;

}

li {
  padding: 0;
  margin: 0;
  text-align: left;
}
a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom:10px;

  
}
a.icon {
  color: black;
  font-weight:normal ;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  
}
a.icon:hover {
  background-color: inherit;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
  transform: translateY(0);
  animation-duration:2s;
  animation-name: none;
}
a:hover{ 
  background-color: orange;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  transform: translateY(2px);

}
@keyframes changecolor {
  from {
    background-color: darkred
  }
  to { background-color: orange;

  }
}
form{
  display:table;/* shrinks to fit content */
  margin:auto;
  background-color: darkred;
  padding: 20px;
}
form.normal{
  background-color: bisque;
}
button {
  background-color: orange;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  cursor: pointer;
  align-items: center;
  width:fit-content;

}
button:hover {
    background-color: darkred;
    transition: background 0s;
    animation-duration: 1s;
    transform: translateY(2px);

}
input{
  height: 22pt;
}

.footer {
  padding-top: 10px;
  position:fixed;
  bottom:0;
  width: 100%;
  background-color: darkred;
  color: #fff;
  text-align: center;
}

table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  border: 1px solid;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;

}
table td {
  padding: 7px;
}
table thead td {
  background-color: #e1dddd;
  color:darkred;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
  text-align: center;
}
table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}
table tbody tr {
  background-color: #ffffff;
}
table tbody tr:nth-child(even) {
  background-color: #FEF9E7;
}

span {cursor:pointer; }
.minus, .plus{
  width:20px;
  height:20px;
  background:#f2f2f2;
  padding:8px;
  border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}